* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-pink {
    background-color: #FF006F;

}

.text-pink {
    color: #FF006F;
}

.bg-blue {
    background-color: #202EF7;
}

.text-blue {
    color: #202EF7;
}

.bg-yellow {
    background-color: #FFFF21;
}

.text-white {
    color: white;
}

.btn {
    padding: 12px 30px;
    font-weight: 500;
    border-radius: 50px;
    color: white;
    transition: all 0.5s;

}

#btn-3 {
    background-color: transparent;
    border: #FF006F 2px solid;
    color: #FF006F;
    margin-top: 25px;
    font-weight: 600;
}

#btn-3:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px rgb(225, 213, 213);
}

#btn1:hover {
    transform: scale(1.1);
    color: white;
    background-color: #FF006F;
}

#btn2:hover {
    transform: translateY(-10px);
    background-color: #202EF7;
    color: white;
    box-shadow: 0px 6px 30px gray;
}

#btn4:hover {
    transform: translateY(-10px);
    background-color: #FF006F;
    color: white;
    box-shadow: 0px 10px 50px rgb(156, 155, 155);
}

/* preloader section start */
#preloader {
    width: 100%;
    height: 100vh;
    background: #f2f4f5 url(/assist/img/preloader1.gif) no-repeat;
    background-position: center;
    z-index: 9999;
    position: fixed;
    background-size: 5%;

}

/**---- Navbar & Banner section start----**/
/*-- Navbar section start --*/
nav .navbar-brand img {
    width: 140px;
}

#banner ul li .nav-link {
    font-weight: 700;
    color: white;
    font-size: 15px;
}

.scroll-down {
    background-color: white;
    padding: 0;
}

#banner .scroll-down ul li .nav-link {
    color: black;
}

.scroll-down .navbar-brand img {
    width: 90px;
}

.navbar-toggler:hover+.offcanvas {
    visibility: visible;
    transform: translateX(0);
}

.offcanvas {
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    visibility: hidden;
    transform: translateX(100%);
    background-color: #FF006F;
}

.offcanvas-header {
    display: none;
}

.offcanvas .social-icons a {
    size: 30px;
    color: #dde0e2;
    text-decoration: none;
}
.offcanvas .social-icons a:hover{
    color: white;
}
.offcanvas .social-icons {
    padding-top: 25px;
}

/*-- Navbar section end --*/
/*-- Banner carousel section start --*/

#banner .carousel-item .w-100 {
    object-fit: cover;
    height: 102vh;
}

.carousel-item img {
    object-position: bottom;
}

.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

.carousel-caption .h2 {
    font-weight: 700;
    font-family: sans-serif;
    font-size: 70px;
    line-height: 65px;
    text-shadow: 2px 2px 5px rgba(104, 101, 101, 0.3);
}

.carousel-caption p {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin-top: 40px;
}

.carousel-caption p a {
    color: white;
    transition: all 0.4s;
}

.carousel-caption p a:hover {
    color: #FF006F;
    text-decoration: none;
    text-underline-offset: 0.5 #ff006f;
}

#carousel1 {
    left: 20%;
    top: 130px;
}

#carousel2 {
    left: 50%;
    top: 200px;
    transform: translateX(-5%);
    right: 10%;
}

#carousel3 {
    left: 20%;
    top: 130px;
}

.carousel-caption #arrow {
    animation: cnc 0.8s ease-in-out infinite alternate-reverse;
}

@keyframes cnc {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 40px;
    }
}

/*-- Banner carousel section end --*/
/**---- Navbar & Banner section end----**/
/* swiper section start  */
#swiper {
    min-height: 300px;
    background: url(../img/bg-title-ourbrands2.png) no-repeat;
    background-position: bottom;
    background-color: #fbfbfb;
    background-size: 90%;
}

#swiper .slider-wrapper {
    overflow: hidden;
    max-width: 1350px;
    margin: 0px 70px;
}

#swiper .slider-wrapper .card-list .card-item {
    padding: 20px;
    text-align: center;
    /* background-color: rgba(255, 255, 255,0.5); */
    margin: 20px auto;
    box-shadow: 0 5px 7px gray;
    border-radius: 20px;
    /* backdrop-filter: blur(4px); */
    background: white;
}

#swiper .slider-wrapper .card-list .card-item img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: all 0.5s;
}

#swiper .slider-wrapper .card-list .card-item img:hover {
    filter: grayscale(0%);
}

#swiper .slider-wrapper .swiper-pagination-bullet {
    background-color: rgb(113, 114, 114);
    height: 10px;
    width: 10px;
    opacity: 1;
    transition: all 0.4s;

}

#swiper .slider-wrapper .swiper-pagination-bullet-active {
    background-color: #000000;
    height: 13px;
    width: 13px;
}

#swiper .slider-wrapper .button-swiper {
    color: rgb(137, 136, 136);
    transition: all 0.5s;
    padding: 5px;
    border-radius: 50%;
}

#swiper .slider-wrapper .button-swiper:hover {
    background-color: rgb(255, 255, 255);
}

/* swiper section end  */
/* cravefx section start  */
#cravefx {
    background-color: #ED009C;
}

#cravefx .h2 {
    font-size: 60px;
    font-weight: 700;
}

#cravefx p {
    line-height: 35px;
}

/* cravefx section end  */
/* Latest_work section start */
#latest {
    background: yellow;
}

#latest .container-lg {
    background: url(../img/backanimation.png), url(../img/backanimation2.png), url(../img/backanimation3.png);
    background-position: 0%, 0% 0%, 33% 33%, 66% 66%, 100%;
    background-size: cover;
}

#latest .himg {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

#latest .himg img {
    border-radius: 20px;
    transition: all 0.5s;
}

#latest .himg .content {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: auto;
    width: 100%;
}

#latest .himg:hover img {
    transform: scale(1.15);

}

#latest .himg:hover .content {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(2, 2, 2, 0.5));

}

/* Latest_work section end */
/* multi_color section start */
#core {
    background: url(../img/core.png) no-repeat;
    background-position: bottom;
    background-size: 90%;
}

#multi_color h2 {
    font-weight: 700;
    font-size: 60px;
}

#multi_color .p {
    font-size: 25px;
}

#multi_color .p a {
    text-decoration: none;
}

#multi_color .box {
    border-radius: 20px;
    padding: 70px 40px 40px 40px;
    font-size: 18px;
    transition: all 0.3s;
    min-height: 300px;
    margin: auto;
}

#multi_color .box:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 25px rgb(163, 161, 161)
}

/* multi_color section end */
/* Our Highlights section start */
#highlights .h2 {
    font-size: 65px;
    font-weight: 700;
    margin-top: 25px;
}

#highlights #blog {
    overflow: hidden;
    height: 370px;
    position: relative;
}

#highlights #blog img {
    transform: scale(2);
    transition: all 0.4s;
}

#highlights #blog .button {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(5, 5, 5, 0.5), rgba(0, 0, 0, 0.5));
    padding: 20px;
}

#highlights #blog .button button {
    border: 2px solid rgb(128, 126, 126);
    border-radius: 5px;
    padding: 3px 10px;
    background-color: transparent;
}

#highlights #blog .button button:hover {
    background-color: #FF006F;
    border: 2px solid #FF006F;
}

#highlights #blog .content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    padding: 40px 30px;
    font-size: 18px;
}

#highlights #blog:hover img {
    transform: scale(2.3);
}

/* Our Highlights section end */
/* Collaborate section start */
#collaborate {
    background: url(../img/footer-bg-min.png) fixed no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

/* #collaborate .container{
    
   backdrop-filter: blur(3px);
} */
#collaborate h2 {
    color: #FFFF00;
    letter-spacing: 2px;
    text-shadow: 4px 4px 1px #1E2DF7;
    font-size: 45px;
}

#collaborate .h4 {
    line-height: 35px;
}

/* Collaborate section end */
/*- Footer section start -*/
#footer {
    padding-bottom: 60px;
    padding-left: 45px;
}
#footer h4{
    text-transform: uppercase;
    font-size: 17px;
}
#footer li{
    list-style: none;
    padding-top: 15px;
}
#footer li a{
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}
#footer li a:hover{
    color: #7e7c7c;
}
#footer .social-icons a{
    color: black;
    text-decoration: none;
}
#footer .social-icons a .icons{
    width: 100px;
}

#footer .email{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}
#footer .copyright{
    font-size: large;
}
/*- Footer section start -*/


/**-- Resposive Media Query --**/
/*-- 1200px --*/
@media screen and (max-width:1200px) {
    nav .navbar-brand img {
        width: 120px;
    }

    .carousel-caption .h2 {
        font-size: 55px;
    }

    #carousel1,
    #carousel2,
    #carousel3 {
        top: 120px;
        break-after: auto;
    }
}

/*-- 992px --*/
@media screen and (max-width:992px) {

    #banner .scroll-down ul li .nav-link {
        color: white;
    }

    nav .navbar-brand img {
        width: 120px;
    }

    .carousel-caption .h2 {
        font-weight: 600;
        font-size: 50px;
        line-height: 50px;
    }

    #carousel1,
    #carousel2,
    #carousel3 {
        top: 120px;
        right: auto;
        line-break: auto;
    }

    #carousel2 {
        right: 10%;
        left: auto;
    }

    #btn-3 {
        margin-bottom: 25px;
    }

    #multi_color .box {
        padding: 50px 30px 20px 30px;
        margin-bottom: 25px;
    }

    #multi_color h2 {
        font-size: 50px;
        margin-top: 20px;
    }

    #multi_color .p {
        font-size: 20px;
    }

    #highlights .h2 {
        font-size: 50px;
        margin-top: 25px;
    }
}

/*-- 768px --*/
@media screen and (max-width:768px) {

    nav .navbar-brand img {
        width: 100px;
    }

    .carousel-caption .h2 {
        font-weight: 600;
        font-size: 45px;
        line-height: 40px;
    }

    #carousel1,
    #carousel2,
    #carousel3 {
        top: 130px;
        left: 20%;
    }

}

/*-- 576px --*/
@media screen and (max-width:576px) {

    .carousel-caption p {
        font-size: 15px;
    }

    #carousel1,
    #carousel2,
    #carousel3 {
        top: 150px;
        left: 10%;
    }
}